# Web framework
fastapi==0.115.0
uvicorn[standard]==0.30.6

# Settings
pydantic-settings==2.4.0

# Database
sqlalchemy[asyncio]==2.0.35
asyncpg==0.29.0
alembic==1.13.3

# Queue
arq==0.26.1
redis==5.0.8
